.header{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  var( --h-text-b-clr);
    padding: 0px 8px;
    border-bottom: 1px solid #454444;
    position: fixed;
    z-index: 100;
 }
 .header-container{
    width: 95%;
    display: flex;
    justify-content: space-between;
 }
 .logo{
    display: flex;
    align-items: center;
 }
 .header-contents{
    display: flex;
    align-items: center;
 }
 .header-contents-first{
  display: flex;
 }
 .header-solutions Link,.header-academy,.header-resources{
    background-color: inherit;
    padding: 16px 16px;
     border: 0;
 }
 .header-academy a,.header-resources a{
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color:var(--h-text-w-alt-clr);
  
 }

 .header-solutions a:hover,.header-academy a:hover,.header-resources a:hover{
  color:#c9c9ca;
 }

 
 .solutions{
    display: flex;
    flex-direction: column;
    
 }
 .header-solutions{
    display: flex;
    align-items: center;
 }
 .header-solutions img{
    padding-left: 12px;
 }
 .header-drop-down.header-hide{
  display: none;
 }
 .header-reveal{
    display: block;
 }
 .rotate-icon { /* Added class for rotating the icon */
  transform: rotate(180deg);
  padding-right: 12px;
  padding-left: 0px;
}
 .exit-icon{
  display: none;
 }
 .solution-drop-down{
  display: none;
  padding: 24px 32px;
  position: absolute;
  top:60px;
  right:300px;
  background-color: var( --h-text-w-clr);
  border-radius: 8px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
 }
 .solution-drop-down.s-header-reveal{
  display: block;
}
 .solution-drop-down-container{
  display: flex;
  gap:4rem;
 }
 .solutions-ui, .solutions-ux{
   display: flex;
   flex-direction: column;
   gap:1rem;
 }
 .solutions-ui-heading h1,.solutions-ux-heading h1{
    color:  var( --h-text-b-clr);
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
 }
 .solutions-ui ul, .solutions-ux ul{
  display: flex;
  flex-direction: column;
  gap:1rem;
 }
 .solutions-ui a, .solutions-ux a{
  color:#3f3f3f;
 }
 .solutions-ui li, .solutions-ux li{
  list-style-type: none;
  color: #3f3f3f;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
 }
 .header-drop-down{
    display: none;
    width: 225px;
    position: absolute;
    top:60px;
    right:490px;
    padding: 16px;
    background-color: var( --h-text-w-clr);
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.12);
    border-radius: 8px;
 }
 .header-inner-drop{
  /* border-bottom: 1px solid #d7d4d4; */
 }
 .header-drop-down button{
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: inherit;
    border: 0;
    border-radius: 8px;
 }
 .header-drop-down button:hover{
  background-color: #f0ecff;
  font-weight: 500;
 }
 .header-inner-drop button.inner-drop-color{
  background-color: #f0ecff;
  font-weight: 600;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 32px;
 }
 .header-inner-drop button.clicked {
  font-weight: 600;
}
.inner-drop{
  display: none;
}
.inner-drop.header-hide{
  display: block;
}
 .inner-drop.inner-drop-color{
  background-color: #f0ecff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 8px;
  padding-left: 32px;
 }
 .inner-drop a{
    list-style: none;
    color:#121212;
    text-decoration: none;
 }
 .inner-drop li{
    list-style-type: none;
    padding: 12px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-size: 14px;
 }
 .header-contents-second{
  height: 100%;
  display: flex;
  align-items: center;
 }
 .header-login {
    border: 2px solid var( --h-text-w-clr);
    background-color: inherit;
    border-radius: 8px;
    padding: 8px 20px;
    padding-right: 24px;
    margin-left: 8px;
    color: var(--h-text-w-clr);
    font-family: var(--p-font);
  font-weight: 500;
  font-size: 16px;
 }
 .header-signup{
  margin-left: 12px;
    border: 2px solid var( --h-text-w-clr);
    border-radius: 8px;
    background-color: var( --h-text-w-clr);
    padding: 8px 20px;
    color:  var( --h-text-b-clr);
    font-family: var(--p-font);
    font-weight: 500;
    font-size: 16px;
 }

 .header-login:hover{
    background-color: var( --h-text-w-clr);
    color:  var( --h-text-b-clr);
 }

 .header-signup:hover{
  background-color:  var( --h-text-b-clr);
  color: var( --h-text-w-clr);
 }

 .hamburger{
    display: none;
 }


 .nav-user-profile{
  margin-left: 12px;
  display: flex;
  flex-direction: column;
 }
 .nav-user-dropdown{
  margin-top:6px;
  border: 1px solid #454444;
  border-radius: 8px;
  background-color: var(--h-text-b-clr);
  border-bottom: 0px;
  position: absolute;
  top:55px;
  right: 20px;
  display: flex;
  flex-direction: column;
 }
 .nav-user-dropdown p{
  padding: 16px 16px;
  font-size: 16px;
  border-radius: 8px;
  color: var(--h-text-w-alt-clr);
  font-family: var(--p-font);
  border-bottom: 1px solid #454444;
 }
 .nav-user-dropdown p:hover{
 color:#c9c9ca;
 }
 .nav-user-dropdown p:first-child{
  border-radius: 0px;

 }
 @media only screen and (max-width:1024px){
  .header-contents{
    align-items: flex-start;
  }
  .header-container{
    width: 93%;
  }
  .hamburger{
    display: block;
  }
  .hamburger.hide{
    display: none;
  }
  .header-contents.show-contents{
    visibility: visible;
    box-shadow: -9999px 9999px 0px 9999px rgba(0, 0, 0, 0.09);
  }
  .exit-icon.show{
    display: block;
  }
  .overflow{
    overflow: hidden;
  }
  .header-contents{
    visibility: hidden;
    width:50%;
    height: 93%;
    flex-direction: column;
    position: fixed;
    top:56px;
    right:0;
    justify-content: space-between;
    background-color: var( --h-text-b-clr);
    overflow-y: scroll;
    gap:4rem;
  }
  .header-contents-first{
    flex-direction: column;
  }
  .header-contents-second{
    display: flex;
    flex-direction: column;
    gap:1rem;
  }
  .header-contents-first,.header-contents-second{
    width:100%;
 }
  .solutions{
    width: 100%;
  }
  .solutions,.header-academy,.header-resources{
    text-align: left;
    
  }
  .header-solutions,.header-academy,.header-resources,
 .header-login,.header-signup{
  width: 100%;
  font-size: 18px;
 }
 .header-solutions:hover,.header-academy:hover,.header-resources:hover{
  background-color: #e1c8f8;
  color: var( --h-text-b-clr);
 }
 .header-login,.header-signup{
  margin: 0px;
 }
 .header-solutions{
  justify-content: space-between;
 }
 .header-solutions.outer-drop-color{
  font-weight: 500;
 }
 .solution-drop-down.s-header-reveal{
  display:none;
 }
 .header-drop-down{
  display: none;
  width: 100%;
  position: relative;
  top:0;
  right:0;
  background-color: inherit;
  box-shadow:0px 0px 0px 0px;
  padding: 0px;
 }
 .header-drop-down.header-reveal{
  display: block;
 }
 .header-inner-drop{
  padding-left: 32px;
  margin:4px 0px;
 }
 .header-inner-drop img{
  transform: rotate(270deg);
 }
 .inner-drop{
  padding-bottom: 8px;
 }
 .header-contents-second{
  align-items: stretch;
  justify-content: flex-end;
  padding:0px 24px
}
.header-resources, .header-academy,.nav-user-profile{
  padding: 16px 24px;
}
.nav-user-profile{
  background-color: var(--card-bg);
  padding: 24px;
}
.header-solutions, .header-academy, .header-resources, .header-login, .header-signup{
  font-size: 16px;
  width: 100%;
}
 
 }
 @media only screen and (max-width:600px){
  .header-container{
    width: 85%;
  }
  .header-contents{
    width: 100%;
  }
 
 }

