.user-profile{
    padding-top: 100px;
    padding-bottom: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f8f8ff;
}
.user-profile-container{
    width:70%;
    display: flex;
    gap:2rem;
}
.user-dashboard{
    padding: 24px 0px;
    width: 250px;
    background-color: #f8f8ff;
    border: 1px solid #8f8989;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.user-picture{
    padding: 0px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-name h2{
    padding: 8px 24px; 
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.user-pic{
    border-radius: 100%;
    border: 1px solid;
    width: 80px;
    height: 80px;
    background-color: black;
}
.user-profile-contents h3{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.profile, .security, .notification, .privacy, .log-out{
    padding: 8px 24px;
}
.active{
    background-color: #4d4d4d;
    color:#f8f8ff;
}
.profile-contents , .security-contents, .privacy-contents, .notification-contents, .logout-contents{
width: 100%;
border: 1px solid #8f8989;
border-radius: 16px;
}
.profile-contents-heading , .security-contents-heading, .privacy-contents-heading, .notification-contents-heading, .logout-contents-heading{
    padding: 24px;
    border-bottom: 1px solid #8f8989;
}
.profile-contents-heading h1 , .security-contents-heading h1, .privacy-contents-heading h1, .notification-contents-heading h1,
.logout-contents-heading h1{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.profile-form , .security-form, .privacy-form, .notification-form, .logout-form{
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.5rem;
}
.Fname, .Lname, .Pemail, .Phone, .Country, .Ppassword{
    display: flex;
    flex-direction: column;
    gap:0.4rem;
    width: 75%;
}
.save-button{
    width: 75%;
    display: flex;
    justify-content: flex-start;
}
.change-password, .save-changes{
    width: max-content;
    padding: 8px 16px;
    border: 2px solid #121212;
    border-radius: 8px;
    background-color: #121212;
    color:#f8f8ff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.change-password:hover, .save-changes:hover{
    background-color: #f8f8ff;
    color:#121212;
    font-weight: 500;
}
.profile-form input, .security-form input{
    height: 40px;
    padding: 8px;
    border: 1px solid #4d4d4d;
    border-radius: 8px;
    background-color: #f8f8ff;
}
.profile-form label , .security-form label{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
