@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  
    --h-text-b-clr:#1c1623;    /* */
    --card-bg:#322a3b;
    --p-text-b-clr:#3f3f3f;
    --trafy-purple:#6D28D9;
    --h-w-text:#fcf8fc;
    --h-text-w-clr:#fcfefe;    /* */
    --h-text-w-alt-clr:#fdfdfd;
    --p-text-w-clr:#e2e2e2;
    --uiux-bg-clr:#f9f7ff;
    --uiux-o-bg-clr:#f4f0ff;
    /* --landing-heading-clr:#fcf; */
    --h-font:'Raleway', sans-serif;
    --p-font:'Inter', sans-serif;

    /* new */
    
    --h-black:#1c1623;
    --p-black:#666464;
    --h-white:#f8f8ff;
    --p-white:#c7c1d1;

    --dom-black:#1c1623;
  
   /* ==================header====================== */
    --header-border:#dfdfdf;


    /* --landing-bg:#f8f8ff; */
    --landing-bg:#fcfcfc;
    /* --landing-cards-bg:#322a3b; */
    --landing-cards-bg:#fcfefe;
    --landing-heading-clr:#1c1623;
    --landing-para-clr:#666464;
    --landing-subheading-clr:#fcf;
    --landing-card-para-clr:#e2e2e2;
    --landing-button-t:#f8f8ff;
    /* --landing-cards-border:#dedede; */

    --landing-cards-border:#dedede;
    --landing-cards-bg:#ffffff; /*fcfefe*/
    

    --course-border:#121212;
    --course-form-bg:#fcfefe;
    --course-form-border:#dad5d5;
  }
  [data-theme='dark'] {

    --h-black:#1c1623;
    --p-black:#666464;
    --h-white:#f8f8ff;
    --p-white:#c7c1d1;


   /* ==================header====================== */
   --header-border:#353535;



    /* landing-page */
    --landing-bg:#1c1623;
    --landing-cards-bg:#322a3b;
    /* --landing-cards-border:#5f5f5f; */
    
    --landing-heading-clr:#f8f8ff;
    --landing-para-clr:#c8c1d1;

    --landing-button-t:#1c1623;
    
    --landing-cards-border:#3e3e3e;
    --landing-cards-bg:#2b2432;


    --course-border:#b0b0b0;
    --course-form-bg:#2c2634;
    --course-form-border:#524d58;
  }

  *{
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
      text-decoration: none;
    }
    
    body {
      margin: 0;
      overflow-y: scroll;
    }



    .baccordion-icon,  .waccordion-icon{
      display: none;
    }
    [data-theme="light"] .baccordion-icon{
      display: block;
    }
    [data-theme="dark"] .waccordion-icon{
      display: block;
    }

    .course-share-icon-black,.course-share-icon-white{
      display: none;
    }
    [data-theme="light"] .course-share-icon-black{
      display: block;
    }
    [data-theme="dark"] .course-share-icon-white{
      display: block;
    }