.service-hero-section{
    padding-top: 120px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    background-color: var( --landing-bg);
}

.service-hero-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.service-hero-content h1{
    width: 60%;
    font-size: 48px;
    font-family: var(--h-font);
    color: var(--landing-heading-clr);
    line-height: 130%;
}
.service-hero-content p{
    width: 60%;
    font-size: 16px;
    font-family: var(--p-font);
    color: var(--landing-para-clr);
    line-height: 150%;
}
.service-hero-button{
    width:max-content;
    border: 2px solid var(--landing-heading-clr);
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 16px;
    color: var(--landing-button-t);
    background-color: var(--landing-heading-clr);
    font-weight: 500;
    padding-right: 24px;
    margin-top: 4px;
}
.service-hero-button:hover{
    color: var(--landing-heading-clr);
    background-color: inherit;
}

@media only screen and (max-width:1024px){
    .service-hero-section{
        padding: 40px 0px;
        padding-top: 100px;
    }
    .service-hero-content{
        width: 90%;
    }
    .service-hero-content h1{
        width: 80%;
        font-size: 40px;
    }
    .service-hero-content p{
        width: 80%;
    }
}
@media only screen and (max-width:600px){
    .service-hero-section{
        padding: 30px 0px;
        padding-top: 80px;
    }
    .service-hero-content{
        width: 90%;
    }
    .service-hero-content h1{
        width: 100%;
        font-size: 32px;
    }
    .service-hero-content p{
        width: 100%;
    }
}
/* ---------------------------------------Grow------------------------------------------------ */

.service-grow-section{
    padding: 60px 0px;
    display: flex;
    justify-content: center;
    background-color:var(--landing-bg); ;
}
.service-grow-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap:3rem;
}
.service-grow-description{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.service-grow-description h4{
    font-size: 16px;
    font-family: var(--p-font);
    color: var(--landing-heading-clr);
    font-weight: 500;
}
.service-grow-description h1{
    font-size: 32px;
    font-family: var(--h-font);
    color: var(--landing-heading-clr);
    font-weight: 700;
}
.service-grow-description p{
    width: 60%;
    font-size: 16px;
    font-family: var(--p-font);
    color: var(--landing-para-clr);
    font-weight: 400;
    line-height: 150%;
}
.service-grow-whole-content{
    display: flex;
    gap:3rem;
}
.service-grow-dashboard{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap:8px;
}
.service-grow-heading{
    padding: 16px 40px;
    background-color: var(--landing-cards-bg);
    border-radius: 12px;
}
.service-grow-dashboard p, .service-grow-content p, .service-grow-contents p {
    font-size: 16px;
    font-family: var(--p-font);
    color: var(--landing-para-clr);
    font-weight: 400;
    line-height: 150%;
}
.service-grow-dashboard p{
    padding: 16px 40px;
    border-radius: 16px;
    border:1px solid var(--landing-cards-border);
    background-color: var( --landing-cards-bg);
    color:var(--landing-para-clr);
}
.service-grow-content h3, .service-grow-contents h3{
    font-size: 16px;
    font-family: var(--p-font);
    color: var(--landing-heading-clr);
    font-weight: 500;
    line-height: 150%;
}
.service-grow-content li, .service-grow-contents li{
    padding-bottom: 4px;
    font-size: 16px;
    font-family: var(--p-font);
    color: var(--landing-para-clr);
    font-weight: 400;
    line-height: 150%;
    list-style-type: none;
}
.service-grow-dashboard-mobile, .service-grow-contents{
    display: none;
}
.service-grow-content h1, .service-grow-contents h1{
    font-size: 24px;
    font-family: var(--p-font);
    color: var(--landing-heading-clr);
    font-weight: 600;
}
.service-grow-content > div, .service-grow-contents > div {
    display: none;
  }
  
  .service-grow-content > div.serviceActive , .service-grow-contents > div.serviceActive{
    display: block;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap:1rem;
  }
  .service-grow-content,  .service-grow-contents{
    width: 70%;
    display: flex;
    align-items: center;
    gap:2rem;
    padding: 24px 32px;
    background-color: var(--landing-cards-bg);
    border-radius: 24px;
    border:1px solid var(--landing-cards-border);
  }
  .service-grow-content{
    display: none;
}
  
  .service-grow-image {
    
  }
  .service-grow-image img{
    max-width: 100%;
    border-radius: 16px;
  }
  @media only screen and (max-width:1024px){
    .service-grow-section{
        padding: 40px 0px;
    }
    .service-grow-container{
        width: 90%;
    }
    .service-grow-description h1{
        font-size:28px;
    }
    .service-grow-description p{
      width: 80%;
    }
  }
  @media only screen and (max-width:900px){
    .service-grow-contents{
      display: none;
    }
    .service-grow-content{
      display: flex;
    }
    .service-grow-container, .service-grow-whole-content{
      gap:2rem;
    }
    .service-grow-whole-content{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .service-grow-whole-content{
      flex-direction: column;
    }
    .service-grow-dashboard-mobile{
      display: flex;
      width: 100%;
    }
    .service-grow-dashboard-mobile-content{
      width: 100%;
      display: flex; 
      align-items: center;
      gap:2rem;
      padding:16px;
      border-radius: 8px;
      background-color: var(--landing-cards-bg);
      justify-content: space-between;
    }
    .service-grow-dashboard-mobile-content p{
      border-radius: 16px;
      background-color: var( --landing-cards-bg);
      color:var(--landing-heading-clr);
      font-size: 16px;
      font-family: var(--p-font);
    }
    .service-grow-contents h1{
      font-size: 20px;
    }
    .service-grow-dashboard{
      display: none;
    }
    .service-grow-content,  .service-grow-contents{
      width: 100%;
    }
    .service-grow-content > div.serviceActive, .service-grow-contents > div.serviceActive{
      width: 100%;
    }
    .service-grow-contents > div.serviceActive{
      gap:0.5rem;
    }
    .service-grow-image{
      display: flex;
      justify-content: center;
    }
  }
  @media only screen and (max-width:600px){
    .service-grow-description h1{
      font-size: 24px;
    }
    .service-grow-content h1{
      font-size: 20px;
    }
    .service-grow-description p{
      width: 100%;
    }
    .service-grow-container{
      gap:2rem;
    }
    .service-grow-whole-content{
      gap:2rem;
    }
    .service-grow-content{
      flex-direction: column;
    }
  }
  /* -----------------------------------------Ai Section---------------------------- */
  .service-ai-section{
    padding: 60px 0px;
    display: flex;
    justify-content: center;
    background-color: var(--landing-bg);
  }
  .service-ai-container{
    width: 80%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-color:#B880ff ;
  }
  .service-ai-container h2{
    font-size: 32px;
    font-family: var(--h-font);
    color: var(--h-text-b-clr);
    font-weight: 600;
    text-align: center;
  }
  .service-ai-container button{
    width: max-content;
    height: max-content;
    padding: 8px 20px ;
    font-family: var(--p-font);
    font-size: 16px;
    font-weight: 500;
    border: 2px solid var(--h-text-b-clr);
    background-color: var(--h-text-b-clr);
    color: var(--h-w-text);
    border-radius: 8px;
  }
  .service-ai-container button:hover{
    background-color: inherit;
    color: var(--h-text-b-clr);
  }
  @media only screen and (max-width:1024px){
    .service-ai-section{
        padding: 40px 0px;
    }
    .service-ai-container{
        width: 90%;
    }
    .service-ai-container h2{
        font-size: 28px;
    }
  }
  @media only screen and (max-width:1024px){
    .service-ai-section{
        padding: 30px 0px;
    }
    .service-ai-container h2{
        font-size: 24px;
    }
  }
  /* -----------------------------------service-courses--------------------------- */


  .service-courses-section{
    padding: 60px 0px;
    display: flex;
    justify-content: center;
    background-color: var(--landing-bg);
  }
  .service-courses-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap:2rem;
  }
  .service-courses-heading{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .service-courses-heading h2{
    font-size: 32px;
    font-family: var(--h-font);
    color: var(--landing-heading-clr);
    font-weight: 700;
  }
  .service-courses-heading h3{
    font-size: 16px;
    font-family: var(--p-font);
    color: var(--landing-heading-clr);
    font-weight: 500;
  }
  .service-courses-heading p{
    width: 60%;
    font-size: 16px;
    font-family: var(--p-font);
    color: var(--landing-para-clr);
    font-weight: 400;
    line-height: 150%;
  }
  .service-courses-content{
    display: flex;
    flex-wrap: wrap;
    gap:3rem;
  }
  .service-courses-cards{
    width: 350px;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap:0.7rem;
  }
  .service-courses-cards .service-course-img{
    border-radius: 12px;
    width: 100%;
    margin-bottom: 16px;
  }
  .service-courses-cards h2{
    font-size: 18px;
    font-family: var(--h-font);
    color: var(--landing-heading-clr);
    font-weight: 600;
  }
  .service-rating{
    display: flex;
    align-items: center;
    gap:0.5rem;
  }
  .service-rating img{
    width: 19px;
    height: 19px;
  }
  .service-rating p{
    font-family: var(--p-font);
    font-size: 14px;
    color: var(--landing-para-clr);
  }
  .service-courses-cards p{
    font-size: 16px;
    font-family: var(--p-font);
    color: var(--landing-para-clr);
    font-weight: 400;
    line-height: 150%;
  }
  .service-courses-cards button{
    margin-top: 6px;
    width: max-content;
    height: max-content;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--p-font);
    border: 2px solid var(--landing-heading-clr);
    background-color: var(--landing-heading-clr);
    color: var(--landing-button-t);
    border-radius: 8px;
  }
  .service-courses-cards button:hover{
    background-color: inherit;
    color: var(--landing-heading-clr);
  }
  @media only screen and (max-width:1024px){
    .service-courses-section{
        padding: 40px 0px;
    }
    .service-courses-container{
        width: 90%;
    }
    .service-courses-heading h2{
        font-size: 28px;
    }
    .service-courses-heading p {
        width: 80%;
    }
  }
  @media only screen and (max-width:600px){
    .service-courses-section{
        padding: 30px 0px;
    }
    .service-courses-heading h2{
        font-size: 24px;
    }
    .service-courses-heading p {
        width: 90%;
    }
  }
  /* -----------------------------------------Better-section------------------------ */

  .service-better-section{
    padding: 60px 0px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    background-color: var(--landing-bg);
  }
  .service-better-container{
    width: 80%;
    display: flex;
    padding: 60px 40px;
    border-radius: 24px;
    background-color: var(--landing-cards-bg);
    gap:3rem;
  }
  .service-better-content{
    display: flex;
    flex-direction: column;
    gap:1rem;
  }
  .service-better-content h2{
    font-size: 32px;
    font-family: var(--h-font);
    color: var(--landing-heading-clr);
    font-weight: 700;
  }
  .service-better-content h3{
    font-size: 16px;
    font-family: var(--p-font);
    color: var(--landing-heading-clr);
    font-weight: 500;
  }
  .service-better-content p{
    width: 70%;
    font-size: 16px;
    font-family: var(--p-font);
    color: var(--landing-para-clr);
    font-weight: 400;
    line-height: 150%;
  }
  .service-better-logo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
    align-content: center;
  }
  .service-better-logo-container{
    display: flex;
    align-items: center;
  }
  .landing-better-right{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3,max-content);
    justify-content: center;
    gap:1rem;
}
  .landing-better-image,.landing-better-image-b{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 140px;
    min-width: auto;
    max-height: 80px;
    min-height: auto;
    object-fit: contain;
    padding: 5% 7%;
}
.landing-better-image,.landing-better-image-b{
display: none;
}
[data-theme='light'] .landing-better-image-b{
    display: block;
    }
    [data-theme='dark'] .landing-better-image{
        display: block;
        }    
.landing-better-right img{
    max-width: 100%;
    min-width: auto;
    object-fit: contain;
}
  @media only screen and (max-width:1024px){
    .service-better-section{
        padding: 40px 0px;
        padding-bottom: 80px;
    }
    .service-better-container {
        width: 90%;
        flex-direction: column;
        gap:2rem;
        padding: 42px 32px;
    }
    .service-better-content h2{
        font-size: 28px;
    }
    .service-better-logo{
        row-gap:2rem;
        column-gap: 2rem;
        grid-template-columns: repeat(3,max-content);
    }
    .landing-better-left, .landing-better-right{
      width: 100%;
  }
  .landing-better-right{
      justify-content: flex-start;
  }
  .serviceActive{
    display: block;
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 100%;
  }
  }
  @media only screen and (max-width:600px){
    .service-better-section{
        padding: 30px 0px;
        padding-bottom: 60px;
    }
    .service-better-container {
        width: 90%;
        flex-direction: column;
        gap:2rem;
    }
    .service-better-content h2{
        font-size: 24px;
    }
    .service-better-logo-container{
        width: 90px;
    }
    .service-better-logo-container img{
        width:100%;
    }
    .service-better-logo{
        row-gap:1rem;
        column-gap: 1rem;
        grid-template-columns: repeat(3,max-content);
    }
    .service-better-content p{
        width: 100%;
    }
    .landing-better-right{
      gap:0.5rem;
  }
  }
  @media only screen and (max-width:420px){
    .service-better-container{
      padding: 24px;
    }
    .service-better-logo-container {
      width: 70px;
  }
  .landing-better-right{
    gap:0.3rem;
  }
  }
  /* -----------------------------Service-------------------------------------- */

  .service-subscribe-section{
    padding: 60px 0px;
    display: flex;
    justify-content: center;
    background-color:#B880ff;
  }
  .service-subscribe-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
  }
  .service-subscribe-container h3{
    font-size: 32px;
    font-family: var(--h-font);
    color: var(--h-text-b-clr);
    font-weight: 600;
  }
  .service-subscribe-container button{
    width: max-content;
    height: max-content;
    padding: 8px 20px ;
    font-family: var(--p-font);
    font-size: 16px;
    font-weight: 500;
    border: 2px solid var(--h-text-b-clr);
    background-color: var(--h-text-b-clr);
    color: var(--h-w-text);
    border-radius: 8px;
  }
  .service-subscribe-container button:hover{
    background-color: inherit;
    color: var(--h-text-b-clr);
  }

  @media only screen and (max-width:1024px){
    .service-subscribe-container h3{
      font-size: 28px;
      text-align: center;
    }
  }
  @media only screen and (max-width:600px){
    .service-subscribe-container h3{
      font-size: 24px;
      text-align: center;
    }
  }

