.compliance{
    padding:120px 5% 60px;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.compliance h1{
    font-size: 32px;
    font-family: 'Inter',sans-serif;
    color: #1c1623;
}
.compliance h4{
    font-size: 18px;
    font-family: 'Inter',sans-serif;
    color: #1c1623;
}
.compliance p{
    font-size: 16px;
    font-family: 'Inter',sans-serif;
    color: #3f3f3f;
    line-height: 150%;
}
.compliance ul {
    padding-left: 20px; 
    display: flex;
    flex-direction: column;
    gap:1.5rem;/* Adjust the padding as needed */
  }
  
  .compliance ul li {
    list-style-type: disc; 
    font-size: 16px;
    font-family: 'Inter',sans-serif;
    color: #3f3f3f;
    line-height: 150%;
    /* Use disc type bullet points */
  }