.blog-landing-page{
    padding-top: 100px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    background-color:var( --landing-bg);
}
.blog-landing-container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
.blog-landing-card{
    margin:24px 24px;
    width: 29%;
    display: flex;
    flex-direction: column;
    gap:1rem;
    border: 1px solid var(--landing-cards-border);
    border-radius: 12px;
    background-color: var(--landing-cards-bg);
}
.blog-landing-card-inner{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.blog-landing-card-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.blog-landing-card-image img{
    width: 70%;
    height: max-content;
}
.blog-landing-card-content{
   padding: 16px;
   padding-top: 0px;
   display: flex;
   flex-direction: column;
   gap:1rem;
}
.blog-landing-card-category{
    display: flex;
    gap:3rem;
}
.blog-landing-card-category h1{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color:var(--landing-heading-clr);
}
.blog-landing-card-category p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:var(--landing-para-clr);
}
.blog-landing-card-heading h1{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color:var(--landing-heading-clr);
    line-height: 150%;
}
.blog-landing-card-description p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:var(--landing-para-clr);
    line-height: 150%;
}
.blog-landing-card-author{
    display: flex;
    gap:3rem;
}
.blog-landing-card-author p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:var(--landing-para-clr);
}

@media only screen and (max-width:1200px){
    .blog-landing-container{
        width: 85%;
    }
}
@media only screen and (max-width:1024px){
    .blog-landing-card {
        width: 50%;
    }

}
@media only screen and (max-width:800px){
    .blog-landing-card-heading h1{
        font-size: 18px;
    }
}
@media only screen and (max-width:700px){
    .blog-landing-card {
        width: 100%;
    } 
}
@media only screen and (max-width:400px){
    .blog-landing-page {
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .blog-landing-container{
        width: 95%;
    }
    .blog-landing-card {
        padding: 16px;
    }
    .blog-landing-card-category, .blog-landing-card-author{
        gap:1rem;
    }
    .blog-landing-card-category h1, .blog-landing-card-category p {
        font-size: 12px;
    }
    .blog-landing-card-heading h1{
        font-size: 16px;
    }
    .blog-landing-card-description p{
        font-size: 14px;
    }
    .blog-landing-card-author p{
        font-size: 12px;
    }

}