.course-enquiry-form {
    padding-top: 120px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    background-color: #fff4ec;
}
.course-enquiry-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.course-enquiry-form-contents {
    width: 450px;
}
.enquiryform {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 32px 24px;
    border: 1px solid #c1bfbf;
    border-radius: 12px;
    background-color: var(--h-text-w-clr);
}
.enquiryform-heading h2 {
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
    padding-bottom: 1.5rem;
    color: var(--h-text-b-clr);
}
.enquiryname {
    display: flex;
    gap: 1rem;
}
.enquiryform label {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: var(--p-text-b-clr);
    margin-bottom: 8px;
}
.enquiryfname, .enquirylname, .enquiryemail, .enquiryphone, .enquiry-course, .enquirymessage {
    width: 100%;
}
.enquiry-fname, .enquiry-lname, .enquiry-email, .enquiry-phone, .enquiry-course, .enquiry-message {
    width: 100%;
    height: 45px;
    padding: 12px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border: 1px solid #c1bfbf;
    border-radius: 8px;
    background-color: var(--h-text-w-clr);
    margin-top: 8px;
    color: var(--h-text-b-clr);
}
.enquiry-message {
    padding: 12px;
    height: 80px;
    resize: none;
}
.course-enquiry-button {
    width: 100%;
    padding: 16px 32px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: var(--h-text-w-clr);
    background-color: var(--h-text-b-clr);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.course-enquiry-button:hover {
    background-color: var(--p-text-b-clr);
}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    font-family: 'Roboto', sans-serif;
}
.enquirycourse-container {
    position: relative;
    width: 100%;
}
.enquiry-course {
    appearance: none;
    width: 100%;
    height: 45px;
    padding: 12px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border: 1px solid #c1bfbf;
    border-radius: 8px;
    background-color: var(--h-text-w-clr);
    margin-top: 8px;
    color: var(--h-text-b-clr);
    background: url('data:image/svg+xml;utf8,<svg fill="%23929292" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
    background-size: 24px;
}
.enquiry-course:focus {
    border-color: var(--h-text-b-clr);
    outline: none;
}
