
.login{
    width: 100%;
    padding-top: 120px;
    padding-bottom: 60px;
    /* background-color:  #fff4ec; */
    background-color: var(--landing-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    width:420px;
    padding: 32px 24px;
    border: 1px solid #c1bfbf;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2.5rem;
    background-color: var(--landing-bg);
}
.login-heading h1{ 
    font-family: var(--h-font);
    font-weight: 600;
    font-size: 28px;
    color: var(--landing-heading-clr);
    
}
.form{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.5rem;
}
.Name{
    width: 100%;
    display: flex;
    gap:1.5rem;

}
.fname-holder,.lname-holder, .email-holder ,.password-holder, .phone-holder{
   width: 100%;
   height: 40px;
   padding: 8px;
   font-size: 16px;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   border: 1px solid #c1bfbf;
   border-radius: 8px;
   background-color:var(--landing-bg);
}
.fname-holder:focus,.lname-holder:focus, .email-holder:focus ,.password-holder:focus{
    outline-style: none;
}
.Email{
    width: 100%;
}
.Password{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}
.password-input,.confirm-password-input{
    display: flex;

}
.password-input{
    flex-direction: column;
}
.password-input,
.confirm-password-input {
  position: relative;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: grey;
}


.eye{
  position: absolute;
  top: 22%;
  transform: translateY(-50%);
  right: 10px;
  cursor: pointer;
  color: #4b4949;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust as needed */
    transform: translateY(-50%);
    cursor: pointer;
  }

.login-button{
    width: 100%;
}
.login-btn{
    width: 100%;
    padding: 8px 16px;
    color: var(--landing-button-t);
    background-color: var(--landing-bg);
    border: 2px solid var(--landing-heading-clr);
    border-radius: 8px;
    font-size: 16px;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
}
.login-btn:hover{
    color: var(--h-text-b-clr);
    background-color: var(--h-text-w-clr);
}
.form p{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: rgb(78, 79, 79);
}
.error-message {
    font-family: "Roboto", sans-serif;
    color: red;
    font-size: 12.5px;
    padding-top: 4px;
  }
  
  .email-holder.error {
    border-color: red;
  }
  @media only screen and (max-width:600px){
    .login-heading h1{
        font-size: 24px;
    }
  }
  
  @media only screen and (max-width:500px){
    .login-container{
        width: 90%;
        gap:1.5rem;
    }
    .form{
        gap:1rem;
    }
    .Name{
        flex-direction: column;
        gap:1rem;
    }
  }
  @media only screen and (max-width:400px){
    .login-container{
        margin: 16px;
    }
  }

  .signup{
    width: 100%;
    padding-top: 120px;
    padding-bottom: 60px;
    /* background-color: #fff4ec; */
    background-color: var(--landing-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container{
    padding: 32px 24px;
    border: 1px solid #c1bfbf;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2.5rem;
    background-color: var(--landing-bg);
}
.signup-heading h1{ 
    font-family: var(--h-font);
    font-weight: 600;
    font-size: 28px;
    color: var(--landing-heading-clr);
    
}
.form{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.5rem;
}
.Name{
    width: 100%;
    display: flex;
    gap:1rem;

}
.fname-holder,.lname-holder, .email-holder ,.password-holder{
   width: 100%;
   height: 40px;
   padding: 8px;
   font-size: 16px;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   border: 1px solid #c1bfbf;
   border-radius: 8px;
   background-color: var(--landing-bg);
}
.Email{
    width: 100%;
}
.Password{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}
.password-input,.confirm-password-input{
    display: flex;
}
.password-input,
.confirm-password-input {
  position: relative;
}



.google-signin {
    width: 100%;
}   

.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
      
    padding: 8px 16px;
    border: 1px solid var(--h-text-b-clr);
    border-radius: 8px;
    /* box-shadow: 0 -1px 1px rgba(0, 0, 0, .25), 0 1px 1px rgba(0, 0, 0, .25); */
    width: 100%;
    
    color: #3f3f3f;
    font-size: 16px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: var(--h-text-w-clr);
    background-repeat: no-repeat;
    background-position: 12px 11px;
    
    &:hover {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
    
    &:active {
      background-color: #eeeeee;
    }
    
    &:focus {
      outline: none;
      box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }
}

.divider {
    width: 100%;
    height: 1px;
    background-color: grey;
}


.eye{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  cursor: pointer;
  color: #4b4949;
}

.SignUp-button{
    width: 100%;
}
.signup-btn{
    width: 100%;
    padding: 8px 16px;
    color: var(--landing-heading-clr);
    background-color: var(--landing-bg);
    border: 2px solid var(--landing-heading-clr);
    border-radius: 8px;
    font-size: 16px;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
}
.signup-btn:hover{
    color: var(--h-text-b-clr);
    background-color: var(--h-text-w-clr);
}
.form p{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: var(--landing-para-clr);
}
.error-message {
    font-family: "Roboto", sans-serif;
    color: red;
    font-size: 12.5px;
    padding-top: 4px;
  }
  
  .email-holder.error {
    border-color: red;
  }
  @media only screen and (max-width:600px){
    .signup-heading h1{
        font-size: 24px;
    }
  }
  
  @media only screen and (max-width:500px){
    .signup-container{
        width: 90%;
        gap:1.5rem;
    }
    .form{
        gap:1rem;
    }
    .Name{
        flex-direction: column;
        gap:1rem;
    }
  }
  @media only screen and (max-width:400px){
    .signup-container{
        margin: 16px;
    }
  }

  @media only screen and (max-width: 600px) {
    .login-with-google-btn {
        padding: 10px 16px;
    }
}

/* Add this CSS to your Signup.css file */
.password-input {
    position: relative;
  }
  
  .password-holder {
    padding-right: 40px; /* Adjust as needed */
  }
  
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust as needed */
    transform: translateY(-50%);
    cursor: pointer;
  }

  .fname
  {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .lname
  {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
